.editform{
    background: #e8bbbb;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
    padding: 2rem;
}

.editform input{
    width: 50%;
    margin: auto;
}
.editform label {
    font-weight: bold;
}

.editpage{
    text-align: center;
}